<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="methods" thread-count="2">

    <listeners>
        <listener class-name="runner.NGTestListener" />
    </listeners>

    <test name="Complete test run">
        <classes>
            <class name="runner.TestRunner" />
            <class name="runner.TestRunner2" />
        </classes>
    </test>

</suite>